
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins';
    align-items: center;
}

header{
    font-family: sans-serif;
    margin-top: 37px;
    z-index: 2;

}

.blur{
    width: 444px;
    height: 444px;
    background: #0C404A;
    filter: blur(141.5px);
    position: absolute
    ;
    Top:-188px;
    Left: -163px;
}

.sa{
    color: white;
}

.contact{
background-color: #FF006C;
width: 127px;
height: 38px;
font-family: 'Poppins';
color: white;
font-weight: 800;
font-size: 12px;
padding: 7px 15px;
margin-right: 10px;
}

.contact p{
    padding-top: 3px;
}

.lal-img{
    margin: 0px 5px;
    padding-bottom: 4px;
    
}

.join{
    border: 3px solid white;
    width: 100px;
    height: 39px;
    font-weight: 800;
    color: #FFF;
    font-family: 'Poppins';
    padding: 7px 15px;
    font-size: 12px;
}

.join p, img{
    margin: 0px 5px;
}

.list_item{
    font-family: 'Poppins';
    font-weight: 800;
    
    margin: 0px 7px;
    
}

.button1{
    margin: 0px 10px;
}

/* navigation bar end  */

.crazy{
    font-family: 'Poppins';
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 72px;
text-transform: uppercase;

color: #FFFFFF;
z-index: 1;
}

.slider-main{
    margin: 5px;
}

.main-sss{
    position: relative;
    left: 5%;
    margin-top: 111px;
}

.mint478{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'Poppins';
}

.MINT{
    width: 160px;
    height: 48px;
    left: 260px;
    top: 441px;
    text-align: center;
    background: #FF006C;
    color: white;
    margin-top: 45px;
}

.pha{
    position: relative;
    top: 28%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 18px;
    
}

.whit{
    width: 160px;
    height: 48px;
    left: 260px;
    top: 441px;
    text-align: center;
    color: white;
    border: 3px solid white;
}

.whit p{
    position: relative;
    top: 27%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 18px;
    
    
}

.whit{
   margin: 0px 25px;
   margin-top: 45px;
   margin-right: 0;
}



.button-slid{
    
}

.max{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 40px;
}

/* slider image  */

.slider-img{
    margin-left: 50%;
    left: 117px;
    width: 373px;
    height: 425.17px;
    background-image: url(image/slider-image-back/back.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    transform: matrix(-1, 0, 0, 1, 0, 0);

    
}

.slider-img img{
    background: url(FELq3tpXEAki2cg.png);
    transform: matrix(1, 0, 0, 1, 0, 0);
    position: absolute;
    left: 33.35px;
    top: 10%;
}

.corner{
    position: absolute;
    width: 94px;
    height: 94px;
    top: 6%;
    left: 83%;
    background: #FF006C;
    border-radius: 50%;z-index: 1;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    
}



/* total people list  */
.total-people{
    position: relative;
    height: 159px;
    left: 0px;
    top: 700;
    background: #051926;
    margin-top: 139px;
    padding-top: 3%;
}

.number{
    font-family: 'Play';
font-style: normal;
font-weight: 700;
font-size: 42.8125px;
line-height: 50px;
text-transform: uppercase;
color: #FFFFFF;
}

.total-qwn{
    font-family: 'Poppins';
font-style: normal;
font-weight: 800;
font-size: 19.9792px;
line-height: 30px;
text-transform: capitalize;
color: #FFFFFF;
}

.first{
    margin-right: 150px;
    
}

/* image gallery */

.img-size{
    margin: 0%;
    padding: 0%;
}

.pro{

}

.gallery{
    position: relative;
    height: 500px;
    width: 100%;
    top: 22px;
    justify-content: center;
}

.first-gallery{
    width: 100%;
    overflow: hidden;
    
}

.second-gallery{
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

.second-img{
    position: relative;
    margin: 0%;
    padding: 0%;
}

/* shap section  */

.main-shap{
    position: relative;
    width: 100%;
    height: auto;
}

.lal-shap{
    position: absolute;
    ;
    width: 239px;
    left: 150px;
    height: 200px;
    background: #741976;
    filter: blur(141.5px);
}

.nil-shap{
    position: relative;
    bottom: 250px;
    width: 324px;
    height: 324px;
    background: #0C404A;
    filter: blur(141.5px);
}

/* number design section  */

.one{
    position: relative;
    width: 25px;
    height: 96px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 96px;
    transform: translate(-50%, -50%);
    
}

.one:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 1px #FFFFFF;
}

.tow{
    position: relative;
    width: 25px;
    height: 96px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 96px;
    transform: translate(-50%, -50%);
}

.tow:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 1px #FF5C00;
}

.three{
    position: relative;
    width: 25px;
    height: 96px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 96px;
    transform: translate(-50%, -50%);
}

.three:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 1px #33FF00;
}

.four{
    position: relative;
    width: 25px;
    height: 96px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 96px;
    transform: translate(-50%, -50%);
}

.four:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 1px #FA00FF;
}

.design-number{
    font-family: 'Poppins';
    margin: 0px 63px;
    z-index: 1;
}

.connect{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 27px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-left: 21px;
    
}

.main-number{
    position: relative;
    top: -200px;
}

.all{
    padding-top: 25px;
}

/* how to mint */

.mint-section{
    position: relative;
    height: 348px;
    width: 100%;
    overflow: hidden;
    margin-top: 61px;
    top: -150px;
}

.photo{
    width: 342px;
    height: 494px;
    left: 203px;
    top: 1901px;
    background: linear-gradient(0deg, rgba(156, 253, 53, 0.51) -219.77%, rgba(131, 255, 0, 0) 84.51%);
    backdrop-filter: blur(237px);
    
}

.details{
    width: 450px;
    height: auto;

}
.easy{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #52FF00;
    margin-bottom: 0;
    padding-top: 48px;
}

.mint{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 0;
}

.lorem{
    width: 450px;
    height: auto;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.63);
   
}

.lorem{
    padding-top: 15px;
}

.details, .photo{
    margin: 0px 61px;
}


/* roadmap section  */

.road{
    position: absolute;
    width: 100%;
    height: 500px;
    
}

.roadmap{
    position: relative;
    width: 240px;
    height: 427px;
    left: 1060px;
    background: #2B1137;
    filter: blur(130px);
    
}


/* .roadmap end  */



.our{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #52FF00;
}

.road-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 8px;
}



.under{ 
    border-bottom: 21px solid #051926;
    background-repeat: no-repeat;
    width: 910px !important;
    padding: 0px !important;
}


/* road map title  */

.phase1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 9.08444px;
    line-height: 14px;
    text-transform: uppercase;
    color: #52FF00;
}

.phase{
    margin-left: 23px;
    z-index: 1;
}

.dis{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 20.7644px;
    line-height: 31px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.dis-det{
    width: 291px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.63);
    
}

/* card section  */



.card-lal{
    position: relative;
    width: 221.45px;
    height: 239.72px;
    background: #FF006C;
    border-radius: 8.76737px;
    margin: 0px 11px;
    text-align: center;
}

.card-lal img{
    position: relative;
    top: -30%;
}




.card_lal_main .social{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15.5012px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #F9F9F9;
    opacity: 0.8;
}

.card_lal_main .dis{
    text-align: center;
    margin-top: -53px;
    
}


.card_lal_main{

    align-items: center;
    margin-top: 100px;
}

.profile-section{
    position: relative;
    width: 100%;
    height: 577px;
    background: linear-gradient(180deg, rgba(208, 208, 208, 0.1) 0%, rgba(208, 208, 208, 0.04) 97.92%);
    backdrop-filter: blur(37px);
    top: 100px;
    padding-top: 100px;
    z-index: 1;
   
}

.blur1{
    position: relative;
    width: 446px;
    height: 446px;
    left: -161px;
    top: -130px;
    background: #112513;
    filter: blur(141.5px);
}



/* qustion section  */

.qustion {
    
    position: relative;
    top: -275px;

}

.all_quastion{
    width: 100%;
}



.p_q{
    background-color: #11181E;
    margin: 20px 200px;
    padding: 1px 20px;
    width: auto;
    
}

.p_q p{
    height: 31px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 20.7644px;
    line-height: 31px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-top: 2%;
    padding-top: 4px;
}

.plus{
    padding-top: 10px;
}

/* community section  */

.join_our{
    margin-top: -135px;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.lorem{
    width: auto;
    height: auto;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: rgba(255, 252, 252, 0.5);
}

.lorem p{
    margin: 2px;
}

.last_button{
    justify-content: center;
    width: 145px;
    height: 46px;
    background-color: #FF006C;
    color: #FFF;
    font-size: 'Poppins';
    margin-top: 45px;
    padding: 10px;
}

.last_button img{
    padding-bottom: 2px;
}


/* footer section  */

footer{
    width: 100%;
    height: 230px;
    background: #21213F;
    margin-top: 350px;
    text-align: center;
}

footer img{
    margin: 70px 40px;
}

.copy_right{
    margin-top: 36px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    text-transform: capitalize;
    color: #ABABAB;
}


